<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProtocolStack.Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ProtocolStack.Program.Properties.Settings>
            <setting name="PhyCOM1" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="PhyCOM2" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="VirCOM1" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="VirCOM2" serializeAs="String">
                <value>COM8</value>
            </setting>
        </ProtocolStack.Program.Properties.Settings>
    </userSettings>
</configuration>
